<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>PublicPixel-z84yD.ttf</string>
		<string>Barcade3D-YZBj.otf</string>
		<string>BarcadeBold-B8nV.otf</string>
		<string>BarcadeNoBarBold-gzXq.otf</string>
	</array>
</dict>
</plist>
